################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.~u
/TwinCAT Tools/TwinCAT Tools/_Boot
